@import "../../../index.scss";

.body{
    width: 100%;
    min-height: calc(100vh - 15rem);
    display: flex;
    justify-content: space-around;
    align-content: start;
    align-items: center;
    padding-top: 2rem;
    background-color: #F29F05;
    padding-bottom: 2rem;
}

.img{
    width: 20rem;
    height: 15rem;
    object-fit: cover;
}

.conteudo{
    display: flex;
    flex-direction: column;
    width: 25rem;
    gap: 1rem;
    color: white;
}

.title{
    font-weight: 200;
}

.texto{
    text-align: justify;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.button{
    all: unset;
    font-size: 0.8rem;
    color: black;
    background-color: aliceblue;
    padding-inline: 1rem;
    padding-block: 0.5rem;
    border-radius: 5px;
    cursor: pointer;
    align-self: start;
}

@media (max-width: $size-d){
    .body{
        flex-direction: column;
        align-items: center;
    }

    .img{
        margin-bottom: 2rem;
    }
}

@media (max-width: $size-c){
    .conteudo{
        width: 19rem;
    }
}