version: '3.7'

services:
  postgresdb:
    image: postgresqldb-melvin
    build:
      context: ./postgres
    container_name: postgresdb
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASS}
      POSTGRES_DB: ${DB_NAME}
  #  ports:
  #    - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    deploy:
      resources:
        limits:
          memory: 2G

  backend:
    image: backend-melvin
    build:
      context: ./sistema
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://${DB_HOST}:${DB_PORT}/${DB_NAME}
      SPRING_DATASOURCE_USERNAME: ${DB_USER}
      SPRING_DATASOURCE_PASSWORD: ${DB_PASS}
      SPRING_DATASOURCE_DRIVER_CLASS_NAME: org.postgresql.Driver
      SPRING_JPA_HIBERNATE_DDL_AUTO: update
      SPRING_JPA_PROPERTIES_HIBERNATE_DIALECT: org.hibernate.dialect.PostgreSQLDialect
      SPRING_JPA_PROPERTIES_HIBERNATE_SHOW_SQL: "true"
      SPRING_JPA_PROPERTIES_HIBERNATE_FORMAT_SQL: "true"
      JWT_SECRET: ${JWT_SECRET}
      FRONTEND_URL: ${FRONTEND_URL}
    ports:
      - "8080:8080"
    volumes:
      - ./sistema:/app/src
      - docs_diarios:/app/docs/diarios
      - docs_imagensembaixadores:/app/docs/imagens_embaixadores
      - docs_imagensavisos:/app/docs/imagens_avisos
    depends_on:
      - postgresdb
    deploy:
      resources:
        limits:
          memory: 1G

  frontend:
    image: frontend-melvin
    build:
      context: ./frontend
      args: 
        - VITE_REACT_APP_FETCH_URL=${VITE_REACT_APP_FETCH_URL}
    ports:
      - "80:5173"
    depends_on:
      - backend
    volumes:
      - ./frontend:/PORTFOLIO
      - /PORTFOLIO/node_modules
  
  
volumes:
  postgres_data:
  docs_diarios:
  docs_imagensembaixadores:
  docs_imagensavisos:
