$size-a: 360px;
$size-b: 450px;
$size-k: 500px;
$size-c: 690px;
$size-d: 780px;
$size-e: 880px;
$size-h: 950px;
$size-f: 1100px;
$size-g: 515px;
$size-i: 1215px;
$size-j: 1350px;

:root {
  font-size: 16px;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Roboto Flex", sans-serif;
}

.main-wrapper, .wrapper {
  display: flex;
  flex-direction: column;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}